body {
  background-color: #5cdb95;
  color: #379683;
  font-size: 62.5%;
  font-family: "Ephesis", cursive;
  font-family: "Gemunu Libre", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
