body {
  background-color: #5cdb95;
  color: #379683;
  font-size: 62.5%;
  font-family: "Gemunu Libre", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-header {
  color: #edf5e1;
  text-align: center;
  margin: auto;
  background-color: #05386b;
  border: 0.3rem solid #379683;
  height: 6rem;
  font-size: 4rem;
  animation: animate 5s;
}

.food-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.food-item {
  width: 23%;
  margin: 2rem;
  box-shadow: 0.4rem 0.3rem 0.4rem 1rem #05386b;
  border: solid #5cdb95;
  background-color: #379683;
}

.food {
  font-size: 3rem;
  color: #8b008b;
  text-align: center;
  opacity: 0.5;
}

.food-img {
  width: 100%;
  height: 60%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.food-price {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
  color: #05386b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 8rem;
}

.main-header:before {
  top: -100%;
  left: 0px;
  width: 100%;
}

.food-img:hover {
  transform: scale(1.1);
  outline: 1rem solid #05386b;
}

.food-price:hover {
  transform: rotate(60deg);
}

.food:hover {
  transform: scale;
}

.food:hover {
  opacity: 1;
}

.food-item:hover {
  border: 0.5rem solid #ff0059;
  color: #05386b;
  background: #5cdb95;
}

.main-header:hover {
  transform: skew(-15deg);
}

@keyframes animate {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
@media (max-width: 768px) {
  .main-header {
    font-size: 3.5rem;
    margin: 0rem 4rem;
    color: cadetblue;
  }
  .food-item {
    width: 24%;
    margin: 2rem;
  }
  .food {
    font-size: 1.5rem;
  }
  .food-price {
    font-size: 1rem;
    margin-bottom: 4rem;

  }

@media (max-width: 390px) {
  .main-header {
    font-size: 3rem;
    margin: 2rem;
    color: blueviolet;
  }
  .food-item {
    width: 25%;
    margin: 0.5rem;
  }
  .food {
    font-size: 1.2rem;
  }
  .food-price {
    font-size: 0.7rem;
  }
}
